/**
 * @author Junaid Atari <mj.atari@gmail.com>
 * @see https://github.com/blacksmoke26/dawn-of-man-generator
 * @since 2020-08-29
 */

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #323232;}
::-webkit-scrollbar-track-piece { background-color: #646464;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #373f4c; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #323232;}
::-webkit-resizer { background-color: #666;}

.cursor-default {
	cursor: default !important;
}

.cursor-pointer {
	cursor: pointer !important;
}

.cursor-disabled {
	cursor: not-allowed !important;
}
.nav-tabs .nav-link {
	background-color: inherit !important;
}


.text-line-through {
	text-decoration: line-through !important;
}

.card-header-tabs {
	margin-bottom: -1rem;
}

.text-size-sm {
	font-size: .89rem !important;
}
 
.text-size-xs {
	font-size: .8rem;
}

.text-size-xxs {
	font-size: .66rem;
}

.font-family-code {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.text-color-default {
	color: #212529 !important;
}

.button-reset-sm {
	padding: 0;
	margin-left: .3rem;
	font-size: .75rem;
	position: relative;
}

.button-reset-sm:first-of-type {
	margin-left: 1rem;
}

.nav.nav-tabs {
	margin-left: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	z-index: 1;
}

pre {
	padding: 0;
}

.accordion.environment_terrain>.card:first-of-type {
	border-bottom: 1px solid #dfdfdf;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
